/** main */

.shadow-text {
	color: inherit;
	text-decoration: none;
	padding: 0 0.1em;
	background: rgba(255,255,255,0.5);
	text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
	border-radius: 0.2em;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	overflow-wrap: break-word;
}
.shadow-text:hover, .shadow-text:focus {
    background: rgba(227, 227, 227, 0.80) none repeat scroll 0% 0%;
	text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
	text-decoration: none;
}

.link {
	font-style: italic;
	text-decoration: underline;
}

.cover-heading {
	padding-top: 1em;
}

.masthead-brand {
	margin-bottom: 15px;
}

.list-centered-iconless {
    text-align: left;
    /* col-md-10 */
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    /* col */
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    /* offset-md-5 */
    margin-left: 30%;
}
.list-centered-iconless li {
    list-style: none;
}
.list-centered-iconless li > span {
    width: 7%;
}
