/**
 * From https://getbootstrap.com/examples/cover
 * Edited by HacKan
 */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
	color: #fff;
}

.link-shadow {
	color: inherit;
	text-decoration: none;
	padding: 0 0.1em;
	background: rgba(255,255,255,0.5);
	text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
	border-radius: 0.2em;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

	.link-shadow:hover, .link-shadow:focus {
		background: rgba(227, 227, 227, 0.80) none repeat scroll 0% 0%;
		text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
	}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
	height: 100%;
	background-color: #333;
}

body {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav > li {
	display: inline-block;
}

	.masthead-nav > li + li {
		margin-left: 20px;
	}

	.masthead-nav > li > a {
		padding-right: 0;
		padding-left: 0;
		font-size: 16px;
		font-weight: bold;
		color: #fff; /* IE8 proofing */
		color: rgba(255,255,255,.75);
		border-bottom: 2px solid transparent;
	}

		.masthead-nav > li > a:hover,
		.masthead-nav > li > a:focus {
			background-color: transparent;
			border-bottom-color: #a9a9a9;
			border-bottom-color: rgba(255,255,255,.25);
		}

	.masthead-nav > .active > a,
	.masthead-nav > .active > a:hover,
	.masthead-nav > .active > a:focus {
		color: #fff;
		border-bottom-color: #fff;
	}

@media (min-width: 768px) {
	.masthead-brand {
		float: left;
	}

	.masthead-nav {
		float: right;
	}
}

nav {
	margin-top: 20px;
}


/*
 * Cover
 */

.cover {
	padding: 0 20px;
}

	.cover .btn-lg {
		padding: 10px 20px;
		font-weight: bold;
	}

	.cover .cover-heading {
		font-family: Monospace;
		font-size: 36px;
	}

@media (max-width: 270px) {
		.cover .cover-heading {
			font-size: 22px;
		}

	.lead {
		font-size: 14px;
	}

	p {
		font-size: 12px;
	}
}

@media (min-width: 271px) and (max-width: 320px) {
		.cover .cover-heading {
			font-size: 24px;
		}
}

@media (min-width: 321px) and (max-width: 400px) {
		.cover .cover-heading {
			font-size: 28px;
		}
}


/*
 * Footer
 */

.mastfoot {
	color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) and (min-height: 700px) {
	/* Pull out the header and footer */
	.masthead {
		position: fixed;
		top: 0;
	}

	.mastfoot {
		position: fixed;
		bottom: 0;
	}

	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}

	/* Handle the widths */
	.masthead,
	.mastfoot,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 992px) {
	.masthead,
	.mastfoot,
	.cover-container {
		width: 700px;
	}
}

